<Files index.html>
	Header append Link "</style.css>; rel=preload; as=style"
	Header append Link "</script.js>; rel=preload; as=script"
	Header append Link "</img/bobble-me2.jpg>; rel=preload; as=image"

	Header append Link "</img/rachel-cutout.png>; rel=preload; as=image"
	Header append Link "</img/san-jose-cutout.png>; rel=preload; as=image"
	Header append Link "</img/github.png>; rel=preload; as=image"
	Header append Link "</img/linkedin.png>; rel=preload; as=image"
	Header append Link "</img/gmail.png>; rel=preload; as=image"
</Files>
